.dinner-table{
    -fx-background-color: #748CF1;
    -fx-text-fill: white;
    -fx-font-size: 20px;
}
.in-use{
    -fx-background-color: gray;
    -fx-text-fill: white;
}
.background-1{
    -fx-background-image: url("../resources/background.png");
    -fx-background-size: 1050px 700px;
    -fx-background-repeat: no-repeat;
}